@{
    ViewData["Title"] = "Generate QR codes";
}

<div class="card">
    <div class="card-header">
        Generate WiFi QR Code
    </div>
    <div class="card-body">
        <h5 class="card-title">Generate for Wifi</h5>
        <p class="card-text">Use it when you want to share WiFi credentials. Good for meetings, house partys and conventions.</p>
        <form asp-controller="Home" asp-action="Generate" method="post">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="ssid">SSID</label>
                    <input type="text" class="form-control" id="ssid" name="ssid" aria-describedby="ssidHelp" placeholder="Enter SSID" />
                    <small id="ssidHelp" class="form-text text-muted">SSID is simply the technical term for a network name.</small>
                </div>
                <div class="form-group">
                    <label for="ssidpassword">Password</label>
                    <input type="password" class="form-control" id="ssidpassword" name="ssidpassword" placeholder="Password" />
                </div>
                <button type="submit" class="btn btn-primary">Generate QR Code</button>
            </div>
        </form>
    </div>
</div>

<hr />

<div class="card">
    <div class="card-header">
        Generate URL QR Code
    </div>
    <div class="card-body">
        <h5 class="card-title">Generate for URL</h5>
        <p class="card-text">Use it to share links/websites.</p>
        <form asp-controller="Home" asp-action="GenerateUrl" method="post">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ssid">URL</label>
                    <input type="url" class="form-control" id="url" name="url" aria-describedby="urlHelp" placeholder="http:// or https://" />
                    <small id="urlHelp" class="form-text text-muted">SSID is simply the technical term for a network name.</small>
                </div>
                <button type="submit" class="btn btn-primary">Generate QR Code</button>
            </div>
        </form>
    </div>
</div>

<hr />

<div class="card">
    <div class="card-header">
        Generate  WhatsApp Message Code
    </div>
    <div class="card-body">
        <h5 class="card-title">WhatsApp Message</h5>
        <p class="card-text">
            Use it to share your WhatApp pre-composed WhatsAppMessages.
            Once scanned, the QR code opens a WhatsApp chat with the given message.
        </p>
        <form asp-controller="Home" asp-action="GenerateWhatsAppMessage" method="post">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="message">Message</label>
                    <input type="text" class="form-control" id="message" name="message" aria-describedby="messageHelp" placeholder="Enter message here" />
                    <small id="messageHelp" class="form-text text-muted">
                        Generates a new WhatsApp message.
                    </small>
                </div>
                <div class="form-group">
                    <label for="number">Contact Mobile Phone Number</label>
                    <input type="tel" class="form-control" id="number" name="number" aria-describedby="numberHelp" placeholder="e.g. 14412345678" />
                    <small id="numberHelp" class="form-text text-muted">
                        Recipient/contact number.
                    </small>
                </div>
                <button type="submit" class="btn btn-primary">Generate QR Code</button>
            </div>
        </form>
    </div>
</div>

<hr />

<div class="card">
    <div class="card-header">
        Generate SMS Code
    </div>
    <div class="card-body">
        <h5 class="card-title">SMS</h5>
        <p class="card-text">
            Generates a new SMS for the given contact.
        </p>
        <form asp-controller="Home" asp-action="GenerateSms" method="post">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="number">Contact Mobile Phone Number</label>
                    <input type="tel" class="form-control" id="number" name="number" aria-describedby="numberHelp" placeholder="e.g. 14412345678" />
                    <small id="numberHelp" class="form-text text-muted">
                        Recipient/contact number.
                    </small>
                </div>

                <div class="form-group">
                    <label for="message">Message</label>
                    <input type="text" class="form-control" id="encoding" name="encoding" aria-describedby="messageHelp" placeholder="Enter message here" />
                    <small id="messageHelp" class="form-text text-muted">
                        Compose a SMS (message)
                    </small>
                </div>

                <button type="submit" class="btn btn-primary">Generate QR Code</button>
            </div>
        </form>
    </div>
</div>

<hr />

<div class="card">
    <div class="card-header">
        Generate Phone Number Code
    </div>
    <div class="card-body">
        <h5 class="card-title">Phone Number</h5>
        <p class="card-text">
            Use it, when you wan't to share a phonenumber or when you want to use the QR code as CTA (call-to-action).
            Once scanned, the code opens the dialer app on the phone.
        </p>
        <form asp-controller="Home" asp-action="GeneratePhoneNumber" method="post">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="phone">Phone Number</label>
                    <input type="tel" class="form-control" id="phone" name="phone" aria-describedby="phoneHelp" placeholder="e.g. +14412345678" />
                    <small id="phoneHelp" class="form-text text-muted">
                        Phone number of the receiver
                    </small>
                </div>
                <button type="submit" class="btn btn-primary">Generate QR Code</button>
            </div>
        </form>
    </div>
</div>

<hr />

<div class="card">
    <div class="card-header">
        Generate Mail Code
    </div>
    <div class="card-body">
        <h5 class="card-title">Mail</h5>
        <p class="card-text">
            Use it when you want to prepare/compose an email. 
            Once scanned the code opens the default mail client with the given information like receiver, subject and message.
        </p>
        <form asp-controller="Home" asp-action="GenerateMail" method="post">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="mailReceiver">Mail Receiver</label>
                    <input type="email" class="form-control" id="mailReceiver" name="mailReceiver" aria-describedby="mailReceiverHelp" placeholder="e.g. someone@yahoo.com" />
                    <small id="mailReceiverHelp" class="form-text text-muted">
                        Receiver's email address
                    </small>
                </div>

                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" id="subject" name="subject" aria-describedby="subjectHelp" />
                    <small id="subjectHelp" class="form-text text-muted">
                        Subject line of the email
                    </small>
                </div>

                <div class="form-group">
                    <label for="message">Message</label>
                    <input type="text" class="form-control" id="message" name="message" aria-describedby="messageHelp" />
                    <small id="messageHelp" class="form-text text-muted">
                        Short message content
                    </small>
                </div>

                <button type="submit" class="btn btn-primary">Generate QR Code</button>
            </div>
        </form>
    </div>
</div>